<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <div data-am-collapse="{target: '#doc-topbar-collapse'}"></div>
  <!-- am-hide-sm 在小屏幕中隐藏， am-show-sm 在小屏幕中显示-->
  <h1 class="am-topbar-brand am-hide-sm">
    <a routerLink="/home" routerLinkActive="active" class="am-text-ir">Amaze UI</a>
  </h1>

  <form class="am-topbar-form am-topbar-right am-form-inline am-show-sm" style="padding-top: 6px" role="search">
    <div class="am-g">
      <div class="am-u-lg-12">
        <div class="am-input-group">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-success" type="button"><span class="am-icon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  </form>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a routerLink="/home" routerLinkActive="active">首页</a></li>
      <li><a routerLink="/about" routerLinkActive="active">关于</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          下拉 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">标题</li>
          <li><a href="#">1. 去月球</a></li>
          <li class="am-active"><a href="#">2. 去火星</a></li>
          <li><a href="#">3. 还是回地球</a></li>
          <li class="am-disabled"><a href="#">4. 下地狱</a></li>
          <li class="am-divider"></li>
          <li><a href="#">5. 桥头一回首</a></li>
        </ul>
      </li>
    </ul>


    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="#">会员中心</a></li>
          <li><a href="#">随便看看</a></li>
        </ul>
      </div>
    </div>

    <div class="am-topbar-right">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a routerLink="/login" routerLinkActive="active">登录</a></li>
        <li><a routerLink="/register" routerLinkActive="active">注册</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<!-- 页脚 -->
<div class="bottom-nav">
  <li class="active"><a routerLink="/home" routerLinkActive="active"><i class="am-icon-home "></i>首页</a></li>
  <li><a href="javascript:;"><i class="am-icon-list"></i>分类</a></li>
  <li><a href="javascript:;"><i class="am-icon-shopping-basket"></i>购物车</a></li>
  <li><a href="javascript:;"><i class="am-icon-user"></i>我的</a></li>
</div>

