<!--<div class="about-main">
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" [ngClass]="{active: isOn, notActive: isDisabled}" (click)="toggleNav(!isOn)">
          <a routerLink="/home" routerLinkActive="active">首页</a>
        </li>
        <li role="presentation">
          <a routerLink="/about" routerLinkActive="active">关于</a>
        </li>
        <li role="presentation" >
          <a routerLink="/users" routerLinkActive="active">用户</a>
        </li>
    </ul>
</div>-->

<!--<div>
  <ul class="am-nav am-nav-pills">
    <li class="am-active"><a routerLink="/home" routerLinkActive="active">首页</a></li>
    <li><a href="#"><a routerLink="/about" routerLinkActive="active">关于</a></a></li>
    <li><a href="#"><a routerLink="/users" routerLinkActive="active">用户</a></a></li>
  </ul>
</div>-->

<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
    <span class="am-sr-only">导航切换</span>
    <span class="am-icon-bars"></span>
  </button>

  <h1 class="am-topbar-brand">
    <a routerLink="/home" routerLinkActive="active" class="am-text-ir">Amaze UI</a>
  </h1>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a routerLink="/home" routerLinkActive="active">首页</a></li>
      <li><a routerLink="/about" routerLinkActive="active">关于</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          下拉 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">标题</li>
          <li><a href="#">1. 去月球</a></li>
          <li class="am-active"><a href="#">2. 去火星</a></li>
          <li><a href="#">3. 还是回地球</a></li>
          <li class="am-disabled"><a href="#">4. 下地狱</a></li>
          <li class="am-divider"></li>
          <li><a href="#">5. 桥头一回首</a></li>
        </ul>
      </li>
    </ul>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="#">会员中心</a></li>
          <li><a href="#">随便看看</a></li>
        </ul>
      </div>
    </div>

    <div class="am-topbar-right">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a routerLink="/login" routerLinkActive="active">登录</a></li>
        <li><a routerLink="/register" routerLinkActive="active">注册</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<!--<footer class="footer">
  Practice AngularJs2
</footer>-->
