<div class="about-main">
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation">
          <a routerLink="/home" routerLinkActive="active">首页</a>
        </li>
        <li role="presentation">
          <a routerLink="/about" routerLinkActive="active">关于</a>
        </li>
        <li role="presentation">
          <a routerLink="/users" routerLinkActive="active">用户</a>
        </li>
    </ul>
</div>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<!-- 底部区域 -->
<div class="footer bs-footer">
  <div class="container">
    <div class="row">
      Practice AngularJs2
    </div>
  </div>
</div>
