.main-nav {
  background: #00ae66;
  height: 50px;
  min-height: 50px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}
nav{
  padding-top: 10px;
}
nav a{
  text-decoration: none;
  padding-right: 50px;
  color: white;
}
.main-container {
  padding-top: 10px;
  min-height: 800px;
  text-align: center;
}
.footer {
  text-align: left;
  padding: 40px 48px;
  background: #263238;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.row{
  text-align: center;
}
