<!--<div>
  <ul *ngFor="let item of obj; let i = index">
    <li>{{item.telephone}}</li>
    <li>{{item.userName}}</li>
    <li>{{item.realName}}</li>
    <li>{{item.email}}</li>
  </ul>
</div>-->
<!-- 图片轮播 -->
<div data-am-widget="slider" class="am-slider am-slider-b2" data-am-slider='{}'>
  <ul class="am-slides">
    <li>
      <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
    </li>
    <li>
      <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
    </li>
    <li>
      <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
    </li>
    <li>
      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
    </li>
  </ul>
</div>
<div class="product-item bg-color">
  <a href="javascript:;" *ngFor="let item of obj">
    <div class="am-g am-padding-top-xs" >
      <div class="am-u-sm-4">
        <img class="am-radius" alt="70*60" src="../../assets/img/2.jpg" width="80" height="60" />
      </div>
      <div class="am-u-sm-8 am-padding-left-0 text-color">
        <div>description</div>
        <div class="right">¥ {{item}}</div>
      </div>
    </div>
  </a>
</div>


