
    <!--<div>
      <ul *ngFor="let item of obj; let i = index">
        <li>{{item.telephone}}</li>
        <li>{{item.userName}}</li>
        <li>{{item.realName}}</li>
        <li>{{item.email}}</li>
      </ul>
    </div>-->
<!--
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
  <ul class="am-slides">
    <li><img src="../../assets/img/4.jpg" /></li>
    <li><a><img src="../../assets/img/5.jpg"></a></li>
    <li><a><img src="../../assets/img/6.jpg"></a></li>
    <li><a><img src="../../assets/img/7.jpg"></a></li>
  </ul>
</div>-->
    <script type="text/javascript">
      $(function(){
        $('.am-slider').flexslider({
          playAfterPaused: 3000,
          animation: "fade",
          animationLoop: true,
          smoothHeight: true,
          touch: true,
          animationSpeed: 4000
        });
      });
    </script>

    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{animation:slide, slideshow:false}' >
      <ul class="am-slides">
        <li>
          <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
          <div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>

        </li>
        <li>
          <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
          <div class="am-slider-desc">这是标题标题标题标题标题标题标题1</div>

        </li>
        <li>
          <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
          <div class="am-slider-desc">这是标题标题标题标题标题标题标题2</div>

        </li>
        <li>
          <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
          <div class="am-slider-desc">这是标题标题标题标题标题标题标题3</div>

        </li>
      </ul>
    </div>
