  <div class="am-g">
    <div class="am-u-lg-6">
      <div class="am-input-group">
        <span class="am-input-group-btn">
          <input type="text" id="target" [(ngModel)]="target" class="am-form-field" required/>
          <button class="am-btn am-btn-default" (click)="search()" type="button"><span class="am-icon-search"></span></button>
        </span>
      </div>
    </div>
  </div>
    <!--<div>
      <ul *ngFor="let item of obj; let i = index">
        <li>{{item.telephone}}</li>
        <li>{{item.userName}}</li>
        <li>{{item.realName}}</li>
        <li>{{item.email}}</li>
      </ul>
    </div>-->
